* {
    text-transform: uppercase;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    border-style: solid;
    border-width: 5px;
    border-color: green;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    left: 250px;
    top: -70px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 250px;
    top: -60px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
  }
  